@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/img/logo.png" class="img-fluid" />
    <br />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <p>Input the summoner's details to search:</p>
                <input type="text" class="form-control bg-light" asp-for="ProfileQuery.Username" placeholder="Username" />
                <select class="form-control bg-light" asp-for="ProfileQuery.Region" asp-items="Model.RegionsList"></select>
                <button type="submit" class="form-control btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-7 col-md-offset-1">
            @if (Model.ValidSearch)
            {
                if (Model.DataLoaded)
                {
                    <h5 class="display-4">@Model.SummonerInfo.Name's ranked stats:</h5>
                    @foreach (Models.LeagueParsedData data in Model.LeaguesParsedData)
                    {
                    <div class="container-fluid pt-3 my-3 pb-3 bg-dark">
                        <img src=@data.ImagePath class="img-fluid w-25" />
                        <h5>@data.FirstLine</h5>
                        <h6 class="text-muted">@data.LP</h6>
                        <h6 class=@data.WinRatioColor>@data.WinRatio</h6>
                        <h6 class="text-muted">@data.WinLoss</h6>
                    </div>
                    }
                }
                else
                {
                    <h3 class="display-4 text-danger">Could not find a profile called @Model.ProfileQuery.Username</h3>
                }
            }
        </div>
    </div>
    <!-- tabla para game activo-->

    <br />


</div>
